.custom-select {
    position: relative;
    border-radius: 0.375rem;
}


.custom-select .selected-option {
    background-color: #fff;
    border: solid;
    border-width: 1px;
    border-color: #dee2e6;
    border-radius: 0.375rem;
}

.custom-select[aria-disabled="true"] .selected-option {
    background-color: #e9ecef;
}

.custom-select.open .selected-option {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.custom-select.custom-select-sm .selected-option input {
    font-size: 0.875rem;
}

.custom-select .form-floating label {
    padding-left: 0.25rem;
}

.custom-select.empty .form-floating label {
    padding-left: 0.875rem;
}

.custom-select[aria-disabled="true"] .form-floating label,
.custom-select[aria-readonly="true"] .form-floating label {
    padding-left: 0.875rem;
}

.custom-select .selected-option input {
    border: none;
    padding: 0.375rem 0.375rem;
    cursor: pointer;
    background-color: transparent;
}

.custom-select.empty .selected-option input {
    padding-left: 0.875rem;
}

.custom-select .selected-option button {
    font-size: 0.775rem;
    background-color: transparent;
    border:none;
}

.custom-select .selected-option button.clear {
    padding: 0.5rem;
    padding-right: 0.2rem;
}

.custom-select .selected-option button.clear.floating {
    padding-top: 1.575rem;
}

.custom-select .selected-option button.dropdown {
    padding: 0.5rem;
}

.custom-select .selected-option button.clear:hover{
    font-size: 0.8rem;
    font-weight: bold;
    color: lightcoral;
}

.custom-select .selected-option button.dropdown:hover{
    font-size: 1rem;
    font-weight: bold;
}

.custom-select[aria-readonly="true"] .selected-option button {
    display: none;
}

.custom-select[aria-readonly="true"] .selected-option {
    border: none;
    background-color: transparent;
}


.custom-select[aria-disabled="true"] .selected-option input,
.custom-select[aria-readonly="true"] .selected-option input {
    cursor: default !important;
    padding-left: 0.875rem;
}

.custom-select[aria-disabled="true"] .selected-option button {
    cursor: default;
}

.custom-select[aria-disabled="true"] .selected-option button:hover {
    font-size: 0.775rem;
    font-weight: normal;
}

.custom-select[aria-disabled="true"] .selected-option button.clear {
    display: none;
}

.custom-select .selected-option input:focus {
    border-color: #dee2e6;
}

.custom-select[aria-readonly="true"] .selected-option:focus-within,
.custom-select[aria-disabled="true"] .selected-option:focus-within {
    box-shadow: none;
    border-color: #dee2e6;
}

.custom-select .selected-option:focus-within,
.custom-select.open .selected-option {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.125rem rgba(0, 123, 255, 0.25);
    border-radius: 0.375rem;
    z-index: 3;
}

.custom-select .selected-option input,
.custom-select .selected-option button {
    box-shadow: none;
    outline: none;
}

.custom-select:not(.open) .select-box {
    background-color: transparent;
}

.custom-select .search-box{
    background-color: white;
    border-bottom: 1px solid #ced4da;
}

.custom-select .search-box input{
    border: none;
    outline: none;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 14px;
}

.custom-select .search-box button {
    font-size: 0.775rem;
    background-color: inherit;
    border: none;
    box-shadow: none;
    outline: none;
}

.custom-select .search-box button:hover {
    font-size: 1rem;
    font-weight: bold;
}

.custom-select .search-box input:focus {
    outline: none;
    box-shadow: none;
}

.custom-select .options-list {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    border: 1px solid #ced4da;
    border-top: none;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.custom-select .options {
    max-height: 150px;
    overflow-y: auto;
}

.custom-select.open .options-list {
    display: block;
}

.custom-select .options-list .option {
    padding: 10px;
    cursor: pointer;
}

.custom-select .options-list .option.active {
    color: black;
    background-color: #f2f2f2;
    border-bottom: 1px solid #eaeaea;
    font-weight: bold;
}

.custom-select .options-list .option:hover {
    background-color: #eaeaea;
}

.custom-select .options-list .no-result-message {
    padding: 10px 0px 10px 10px;
    cursor: default;
}
